<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mkworld29.mobile.com.cafemoa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationBase"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/decoration"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/decoration"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".SignUpAcitivity" />
        <activity android:name=".CouponActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".CouponDetailActivity" />
        <activity android:name=".AccessTermsActivity" />
        <activity android:name=".BaskitActivity"/>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <provider
            android:name="com.zoyi.channel.plugin.android.global.ChannelFileProvider"
            android:authorities="mkworld29.mobile.com.cafemoa"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ch_file_paths" />
        </provider>
        <activity android:name=".VeilActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstSignUpActivity" >
        </activity>
        <activity android:name=".SecondSignUpActivity" />
        <activity android:name=".ThirdSignUpActivity" />
        <activity android:name=".FourthSignUpActivity" />
        <activity android:name=".FifthSignUpActivity" />
        <activity android:name=".SixthSignUpActivity" />
        <activity
            android:name=".ReadyActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".OrderCompleteActivity" />
        <activity android:name=".Option2Acitivity">
        </activity>
        <activity android:name=".CoffeOptionActivity" >
        </activity>
        <activity android:name=".OrderListActivity" />
        <activity android:name=".PersonalEventActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".SignupPasswordActivity">
        </activity>
        <activity android:name=".BaskitDeleteDialog" android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".PasswordChangeActivity"/>

    </application>

</manifest>